<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Calendar</title>
    </head>

    <body>
        {% extends "template.html" %}
        {% block content %}
        <!-- calendar, a simple page -->
        <iframe src="https://calendar.google.com/calendar/embed?src=sxs984228512%40gmail.com&ctz=America%2FToronto" style="border: 0" 
        width="800" height="600" frameborder="0" scrolling="no", class="calendar"></iframe>

        {% endblock content%}
    </body>

</html>