<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Grades Info</title>
    </head>

    <body>
        {% extends "template.html" %}
        {% block content %}
        {%if usertype == "student"%}
            <table class="grades">
                <tr>
                    <th>Course id </th>
                    <th>Instructor</th>
                    <th>Exam Type</th>
                    <th>Grades</th>
                </tr>
                
                {% for grades in grade_result%}
                <tr>
                    <td> {{ grades[0] }} </td>
                    <td> {{ grades[1] }} </td>
                    <td> {{ grades[2] }} </td> 
                    <td> {{ grades[3] }} </td>
                </tr>
                {%endfor%}
            </table>
        {%else%}
            {%with messages = get_flashed_messages(with_categories = True) %}
            {%if messages%}
                {%for category, message in messages%}
                    <div class={{category}}>{{category}} - {{ message }}</div>
                {%endfor%}
            {%endif%}
            {%endwith%}
            <table class="grades">
                <tr>
                    <th>Course id </th>
                    <th>Student ID</th>
                    <th>Student Name</th>
                    <th>Exam Type</th>
                    <th>Grades</th>
                </tr>
                
                {% for grades in grade_result%}
                <tr>
                    <td> {{ grades[0] }} </td>
                    <td> {{ grades[1] }} </td>
                    <td> {{ grades[2] }} </td> 
                    <td> {{ grades[3] }} </td>
                    <td> {{ grades[4] }} </td>
                </tr>
                {%endfor%}
            </table>
            <div class = "regrade">
                <form action="/grades", method="POST"> 
                    <label for="student">Student ID: </label>
                    <input type="text" name="student" placeholder="student">
                    <br>
                    <label for="course_id">On Course: </label>
                    <input type="text" name="course_id" placeholder="course_id">
                    <br>
                    <label for="exam_type">Regarding Assignment/Exam: </label>
                    <input type="text" name="exam_type" placeholder="exam_type">
                    <br>
                    <label for="new_mark">New Mark:</label><br>
                    <input type="new_mark" name="new_mark" placeholder="...">
                    <input type="submit" value = "Submit"/>
                </form>
            </div>
        {%endif%}

        {% endblock %}
        </table>
    </body>

</html>