<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Lectures</title>
        <link rel="stylesheet" href="../static/css/tables.css" >
    </head>

    <body>
        {% extends "template.html" %}
        {% block content %}
        <h1 class="text"><b>Lectures</b></h1>
        <h2 class="text">Lecture Schedule</h2><br>
        <div class='lecture-schedule-container'>
            <div class="header"><h4>Week</h4></div>
            <div class="header"><h4>Topic</h4></div>
            <div class="header"><h4>Lecture Material</h4></div>
            <div class="header"><h4>Code Handout</h4></div>
            <div class="header"><h4>Reading & Resources</h4></div>
            <div class="item"><p>1</p></div>
            <div class="item"><p>Introduction</p></div>
            <div class="item"><a href = "../static/files/fake.pdf">Week 1 - Introduction</a></div>
            <div class="item"><p></p></div>
            <div class="item"></div>
            <div class="item"><p>2</p></div>
            <div class="item"><p>Relational Algebra</p></div>
            <div class="item"><a href = "../static/files/fake.pdf">Week 2 - Relational Algebra</a></div>
            <div class="item"><p></p></div>
            <div class="item"><a href = "https://dbis-uibk.github.io/relax/calc/local/uibk/local/0">RelaX</a></div>
            <div class="item"><p>3</p></div>
            <div class="item"><p>Wrapping up RA <br>Starting with SQL</p></div>
            <div class="item"><a href = "../static/files/fake.pdf">Week 3 -  RA and Introduction to SQL</a></div>
            <div class="item"><p></p></div>
            <div class="item"><a href = "https://www.sqlite.org/index.html">Download Sqlite</a></div>
            <div class="item"><p>4</p></div>
            <div class="item"><p>SQL Queries</p></div>
            <div class="item"><a href = "../static/files/fake.pdf">Week 4 - SQL (2)</a><br></div>
            <div class="item"><p></p></div>
            <div class="item"><a href = "https://validator.w3.org/">HTML validator</a><br>
                Python Flask Resources:
                <ul>
                <li><a href = "https://flask.palletsprojects.com/en/2.0.x/">https://flask.palletsprojects.com/en/2.0.x/</a><br></li>
                <li><a href = "https://docs.python.org/3/library/venv.html">https://docs.python.org/3/library/venv.html</a><br></li>
                </ul>
                <a href = "../static/files/fake.pdf">Relational Algebra Division</a>
        </div>
            <div class="item"><p>5</p></div>
            <div class="item"><p>Introduction to Web Development</p></div>
            <div class="item"><a href = "../static/files/fake.pdf">Week 5 - SQL-Subqueries (1)</a></div>
            <div class="item"><p></p></div>
            <div class="item"><a href = ""></a></div>
            <div class="item"><p>6</p></div>
            <div class="item"><p>Introduction to <br> Flask, HTML, CSS</p></div>
            <div class="item"><a href = "/../static/files/fake.pdf">Week 6 - HTML and CSS</a><br>
                <a href = "../static/files/fake.pdf">Introduction to Web Development</a><br>
                <a href = "../static/files/fake.pdf">All about Flask</a><br>
                <a href = "../static/files/fake.pdf">Python Flask Project</a><br></div>
            <div class="item"><p></p></div>
            <div class="item"><a href = "https://validator.w3.org/">HTML validator</a><br>
                <a href = "https://code.visualstudio.com/download">VS Code</a><br>
                <a href = "https://flask.palletsprojects.com/en/2.0.x/installation/">Python Flask</a><br>
            </div>
            <div class="item"><p>7</p></div>
            <div class="item"><p>Reading Week!</p></div>
            <div class="item"><p></p></div>
            <div class="item"><p></p></div>
            <div class="item"><a href = ""></a></div>
            <div class="item"><p>8</p></div>
            <div class="item"><p>Midterm! <br> HTML Forms <br> CSS Box Model</p></div>
            <div class="item"><a href = "../static/files/fake.pdf">Week 8 - HTML and CSS continued</a></div>
            <div class="item"><p></p></div>
            <div class="item"><a href = ""></a></div>
            <div class="item"><p>9</p></div>
            <div class="item"><p>Media Queries <br> Introduction to JS</p></div>
            <div class="item"><a href = "../static/files/fake.pdf">Week 9</a></div>
            <div class="item"><p></p></div>
            <div class="item"><a href = "https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide">JavaScript Documentation </a></div>
            <div class="item"><p>10</p></div>
            <div class="item"><p>Flask and Introduction to JavaScript </p></div>
            <div class="item"></div>
            <div class="item"><p></p></div>
            <div class="item"><a href = ""></a></div>
            <div class="item"><p>11</p></div>
            <div class="item"><p>Integrating Flask and SQL </p></div>
            <div class="item"></div>
            <div class="item"><p></p></div>
            <div class="item"><a href = ""></a></div>
            <div class="item"><p>12</p></div>
            <div class="item"><p>Flask and SQL, examples </p></div>
            <div class="item"></div>
            <div class="item"><p></p></div>
            <div class="item"><a href = ""></a></div>
            <div class="item"><p>13</p></div>
            <div class="item"><p>Wrap-up </p></div>
            <div class="item"><p></p></div>
            <div class="item"><p></p></div>
            <div class="item"><a href = ""></a></div>
        </div>
        {% endblock content%}
    </body>

</html>