<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Regrade Requests</title>
    </head>

    <body>
        <!--We want to have this page display different info for different users-->

        <!--First check if the usertype is student, then we are just displaying regrade requests-->
        {% extends "template.html" %}
        {% block content %}
        <h1 class="text"><b>Regrade Requests</b></h1>
        {% if usertype == "student"%}
            {%with messages = get_flashed_messages(with_categories = True) %}
            {%if username %}
                {%if messages%}
                    {%for category, message in messages%}
                        <div class={{category}}>{{username}}, {{ message }}</div>
                    {%endfor%}
                {%endif%}
            {%else%}
                {%if messages%}
                    {%for category, message in messages%}
                        <div class={{category}}>{{category}} - {{ message }}</div>
                    {%endfor%}
                {%endif%}
            {%endif%}
            {%endwith%}
            
            <table class="grades">
                <caption><h3>Your Enrollment Information</h3></caption>
                <tr>
                    <th>Course</th>
                    <th>Instructor ID</th>
                    <th>Instructor Name</th>
                </tr>
                {% for info in courses_info %}
                <!--iterate through and display all grades info-->
                <tr>
                    <td> {{ info[0] }} </td>
                    <td> {{ info[1] }} </td>
                    <td> {{ info[2] }} </td>
                    
                </tr>
                {% endfor %} 
            </table>
            <!--This form is for students to submit regrade requests-->
            <div class = "regrade">
                <form action="/regrade", method="POST"> 
                    <strong><label for="instructor">Regrade Request Form: </label></strong><br><br>
                    <label for="instructor">Instructor ID: </label>
                    <input type="text" name="instructor" placeholder="instructor">
                    <br>
                    <label for="course_id">Course ID: </label>
                    <input type="text" name="course_id" placeholder="course_id">
                    <br>
                    <label for="reason">Please clearly state regarding which assignment/test do you want to regrade and reason.</label><br>
                    <textarea type="reason" name="reason" placeholder="..."></textarea>
                    <input type="submit" value = "Submit"/>
                </form>
            </div>
        {%else%}
        <!--For instructors, we will only display the regrade requests here, as we have the change grade function in grades page-->
       
        <table class="grades">
		<caption><h3>Pending Regrading Request</h3></caption>
            <tr>
                <th>Course</th>
                <th>Student ID</th>
                <th>Student Name</th>
                <th>Reasons</th>
            </tr>
            {% for regrade_request in regrade_requests %}
            <!--iterate through and display all regrade request-->
            <tr>
                <td> {{ regrade_request[0] }} </td>
                <td> {{ regrade_request[1]}} </td>
                <td> {{ regrade_request[2] }} </td>
                <td> {{ regrade_request[3] }} </td>
            </tr>
            {% endfor %} 
        {%endif%}
        </table>
        {% endblock %}
    </body>

</html>