<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Resources</title>
        <link rel="stylesheet" href="../static/css/tables.css" >
    </head>

    <body>
        {% extends "template.html" %}
        {% block content %}
        <h1>Resources</h1>
        <h2>Online Resources</h2>
        <div class="text">
            <ul>
                <li><a href="index.html">Course Website</a></li>
                    <ul><li>Course Information</li>
                        <li>Lecture Materials</li>
                        <li>Tutorial Materials</li>
                        <li>Assignment Info</li>
                        <li>Test Info</li>
                    </ul>
                <li><a href = "https://piazza.com/class/kxj5alixpjg4ft">Piazza page</li>
                <li><a href = "https://www.sqlite.org/index.html">SQL download</a></li>
                <li><a href = "https://validator.w3.org/">HTML validator</a></li>
                <li><p>Python Flask Resources:</p><ul>
                    <li><a href = "https://flask.palletsprojects.com/en/2.0.x/">https://flask.palletsprojects.com/en/2.0.x/</a><br></li>
                    <li><a href = "https://docs.python.org/3/library/venv.html">https://docs.python.org/3/library/venv.html</a><br></li>
                    </ul></li>
                <li><a href = "https://code.visualstudio.com/download">VS Code Download</a></li>
                <li><a href = "https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide">JavaScript Documentation </a></li>
            </ul>
        </div>
        {% endblock content%}
    </body>
</html>