<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Tests</title>
        <link rel="stylesheet" href="../static/css/tables.css" >
    </head>

    <body>
        {% extends "template.html" %}
        {% block content %}
        <h1>Tests</h1>
        <h2>Midterm Instructions</h2>
        <div>
            <p>Mid term exam for B20 is on February 28th during class time (9 to 11) in HL B101 (where we meet for lectures).<br>
            
            The exam is based on database portion we covered in class. That includes, Relational Algebra, and SQL queries. <br>
            
            The exam will not include any web application content we covered last week. <br>
            
            You can prepare for this exam by reviewing all the queries we have learned so far in lectures, tutorials and assignment.
            </p>
            <p>Exam format:</p>
            <ul>
                <li>2 Short questions </li>
                    <ul><li>Multiple choice questions or brief answers</li></ul>
                <li>5 queries based on RA.</li>
                <li>5 queries based on SQL.</li>
            </ul>
            <br>
            <p>You need to bring pen/pencil to write your exam.</p>
            <p>General rules for exam:</p>
            <ul>
                <li>It is closed book exam. </li>
                <li>no aids of any kind allowed(calculator, notes, textbooks, online resources, tablets, people).</li>
                <li>Phones should be switched off during exam.</li>
                <li>You have 2 hours to write exam.</li>
            </ul>
            <div class = "havefun">HAVE FUN!!!!</div>
        </div>
        {% endblock content%}
    </body>