<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Tutorials</title>
        <link rel="stylesheet" href="../static/css/tables.css" >
    </head>

    <body>
        <!-- some content -->
        {% extends "template.html" %}
        {% block content %}
        <h1 class="text">Tutorials</h1>
        <h2 class="text">Tutorials Schedule</h2>
        <div class='tut-container'>
            <div class="header"><h4>Week</h4></div>
            <div class="header"><h4>Tut Handout</h4></div>
            <div class="header"><h4>Tut Solution</h4></div>
            <div class = "item">1</div>
            <div class = "item"><a href=""></a></div>
            <div class = "item"><a href=""></a></div>
            <div class = "item">2</div>
            <div class = "item"><p>Notes Prepared by: Kevin Zhang<br>
                A quick speed-refresher of Python. We go over variables, functions, string methods, lists, loops, and basic I/O. The material covered today will be especially relevant to those who have not taken one of A08, A48, or A20<br></p>
                <a href="../static/files/fake.pdf">Week 2</a></div>
            <div class = "item"><a href="../static/files/fake.pdf">Solution</a></div>
            <div class = "item">3</div>
            <div class = "item"><p>Notes Prepared by: Kevin Zhang<br>
                Relational algebra. In this tutorial, we go over relational algebra and writing relational algebra to perform queries. We also introduce SQLite and basic SQL concepts.</p><br>
                <a href="../static/files/fake.pdf">Week 3</a></div>
            <div class = "item"><a href="../static/files/fake.pdf">Solution</a></div>
            <div class = "item">4</div>
            <div class = "item"><a href="../static/files/fake.pdf">Week 4</a></div>
            <div class = "item"><a href="../static/files/fake.pdf">Solution</a></div>
            <div class = "item">5</div>
            <div class = "item"><p>Notes Prepared by: Kevin Zhang<br>
                In this tutorial, you will learn about more SQL queries that include Views, Group By and brief introduction to HTML.</p><br>
                <a href="../static/files/fake.pdf">Week 5</a></div>
            <div class = "item"><a href="../static/files/fake.pdf">SQL solution</a><br><a href="../static/files/fake.pdf">HTML solution</a></div>
            <div class = "item">6</div>
            <div class = "item"><p>Notes Prepared by: Kevin Zhang<br>
                In this tutorial, you will learn about Python Flask.</p><br>
                <a href="../static/files/fake.pdf">Week 6</a></div>
            <div class = "item"><a href="../static/files/fake.pdf">Solution</a></div>
            <div class = "item">7</div>
            <div class = "item"><a href=""></a></div>
            <div class = "item"><a href=""></a></div>
            <div class = "item">8</div>
            <div class = "item"><p>Credit: Kevin Zhang<br>Introduction to CSS</p><a href="../static/files/fake.pdf">Week 8</a></div>
            <div class = "item"><a href="../static/files/fake.pdf">HTML solution</a><a href="../static/files/fake.pdf">CSS solution</a></div>
            <div class = "item">9</div>
            <div class = "item"><p>Credit: Kevin Zheng<br>Tutorial Based on CSS Flexbox</p><a href="../static/files/fake.pdf">Week 9</a></div>
            <div class = "item"><a href=""></a></div>
            <div class = "item">10</div>
            <div class = "item"><a href=""></a></div>
            <div class = "item"><a href=""></a></div>
            <div class = "item">11</div>
            <div class = "item"><a href=""></a></div>
            <div class = "item"><a href=""></a></div>
            <div class = "item">12</div>
            <div class = "item"><a href=""></a></div>
            <div class = "item"><a href=""></a></div>
        </div>



        {% endblock content%}
    </body>